
/*/////////////////////////////////////////////
// global descriptor
 ////////////////////////////////////////////*/

body
{
	background: white;
	margin: 0px 0px;
	
    font-size: 100%;
	font-family: Calibri;
	
	line-height: 1.3em;
}

#wrapper
{
	position: relative;
	text-align: left;
	width: 800px;
	margin: 32px auto 0px auto;
}


.cv_item
{
    float:left;
    width: 800px;
	
	padding-top: 16px;
	
	margin-bottom: 48px;
}

.cv_item_head
{
	font-weight: bold;
	font-family: Calibri;
}

.cv_item_content
{
	margin:0px auto;
	
	padding-left: 8px;
	padding-right: 8px;
}

.link_block
{
	padding-left: 8px;
	text-align: left;
}

.link_block > a
{
	text-decoration: none;
	color: rgb(0, 0, 255);
}

.link_block > a:hover
{
	text-decoration: underline;
	color: rgb(0, 0, 255);
}

.item_block
{
	position: relative;
	
	float:left;
    width: 800px;
	
	margin-top: 8px;
	margin-bottom: 32px;
	
	text-align: justify;
}

.item_headline
{
	color: rgb(197, 53, 56);
}

/*/////////////////////////////////////////////
 // navigator descriptor
 ////////////////////////////////////////////*/

#navigator
{
	height: 40px;
	background: rgb(75,46,131);

	-moz-box-shadow: 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px #777777;

	text-align: center;
}

#navigator ul
{
	width: 780px;

	margin: auto auto;
	padding: 0px 0px;

	list-style: none;
}

#navigator ul li
{
	float: left;
	width: 130px;

	padding-top: 10px;
}

#navigator a
{
	color: rgb(235, 235, 235);
	text-decoration: none;
}

#navigator  a:hover
{
	color: rgb(255, 255, 255);
	font-weight: bold;
}



/*/////////////////////////////////////////////
 // profile descriptor
 ////////////////////////////////////////////*/

#profile
{
	position: relative;
	width: 800px;
	
	line-height: 1.1em;
	
	margin: 0px 16px auto;
}

#profile_content
{
	float: left;
	width: 600px;
	margin: auto auto;
}

#profile_content_name
{
    padding:0px 0px 36px 0px;
	
	text-align: left;
	font-weight: bold;
}

#profile_content_name_text
{
	float: left;
    font-size: 150%;
}

#profile_content_name_img
{
	float: left;
	margin: -2px 32px auto;
}

#profile_content_link
{
	padding:8px 0px 0px 0px;
	color: blue;
	
	text-align: center;
	font-weight: bold;
}

#profile_content_link > a
{
	color: rgb(0, 0, 255);
	text-decoration: none;
}

#profile_content_link > a:hover
{
	text-decoration: underline;
}

#profile_content_location
{
	padding-top: 4px;
	text-align: center;
}

#profile_content_description
{
	float: left;
	text-align: left;

    font-size: 100%;
}

#profile_image
{
    float: right;
	width: 196px;
}

#profile a
{
	color: rgb(75,46,131);
	text-decoration: none;
}

#profile a:hover
{
	font-weight: bold;
}

#profile a.special_link
{
	color: rgb(1, 104, 208);
	padding: 0px 12px 0px 0px;
}

#profile a.special_link:hover
{
    color: rgb(255, 115, 0);
	font-weight:normal;
}

/*/////////////////////////////////////////////
 // about me descriptor
 ////////////////////////////////////////////*/

#aboutme_content
{
	text-indent: 2em;
}
 
 /*/////////////////////////////////////////////
 // work-experience descriptor
 ////////////////////////////////////////////*/
 
 
 .work_description
 {
	position: relative;
	float: left;
	margin: auto auto;
	margin-top: 1em;
	
	width: 550px;
	 
	line-height: 1.2em;
	text-indent: 2em;
	text-align: justify; 
 }
 
 .work_image
 {
	width: 250px; 
	text-align: center; 
	vertical-align: middle;
 }
 
 /*/////////////////////////////////////////////
 // project descriptor
 ////////////////////////////////////////////*/
 
 .project_item
 {
	padding-top: 12px;
	margin-bottom: 96px;
 }
 
 .project_item > table
 {
	width: 792px;
	padding-left: 8px;
	
	border-collapse: collapse;
	border-top: 2px solid rgb(0,0,0);
	border-bottom: 2px solid rgb(0,0,0);
 }
 
 .project_title
 {
    padding-top: 12px;
	 
	font-weight: bold;
	font-size: 110%;
 }

 .project_title_link
 {
    color: rgb(0, 0, 0);
	text-decoration: none;
 }

 .project_title_link:hover
{
	color: rgb(255, 115, 0);
    text-decoration: none;
}
 
 .project_image
 {
	border-top: 1px dashed rgb(0,0,0);
	border-bottom: 1px dashed rgb(0,0,0);
	
	padding-top: 8px;
	padding-bottom: 4px;
 }
 
 .project_description
 {
	text-indent: 2em;
	
	padding-top: 10px;
	padding-bottom: 8px;
 }

.project_misc
{
	color: rgb(0, 149, 179);
}

.course_project_misc
{
	color: rgb(34, 177, 76);
}

.project_appendix
{
	padding-bottom: 8px;
}

.project_link
{
	color: rgb(0, 89, 255);
	text-decoration: none;
	
	padding-right: 4px;
	padding-left: 4px;
}

.project_link:hover
{
    color: rgb(255, 115, 0);
    text-decoration: none;
}

.research_misc
{
	color: black;
}
 
 .back_to_top
 {
 	width: 392px;

	text-align: right;	
	float:right;
 }
 

/*/////////////////////////////////////////////
 // award descriptor
 ////////////////////////////////////////////*/
.award_item > table {
	width: 768px;
	padding-left: 16px;
	border-collapse: collapse;
	border-bottom: 2px solid rgb(0, 0, 0);
	margin-bottom: 32px;
}

.award_item > table > thead {
	border-bottom: 2px solid rgb(0, 0, 0);
}

.award_item > table > tbody > tr > td {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 1px dashed rgb(0, 0, 0);
	text-align: center;
}

.award_table_head {
	text-align: center;
}

.awards_year_head {
	width: 160px;
}

.award_country_head {
	width: 96px;
}

.award_number,
.award_country {
	text-align: center;
}

.back_to_top {
	text-align: right;
	margin-top: 10px;
}

.back_to_top a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}



/*/////////////////////////////////////////////
 // utility descriptor
 ////////////////////////////////////////////*/

ul.parent_item
{
	padding-left: 16px;
	list-style-type: disc;
}

ul.child_item
{
	padding-left: 32px;
	list-style-type: circle;
}

img.name_img
{
	float: left;
	margin: 10px auto;
}

img.align-center
{
	display: block;
	margin: 0px auto;
}

a.blue_link
{
	color: rgb(0,0,255);
	text-decoration: none;
}

a.blue_link:hover
{
	text-decoration: underline;
}

a.light_blue_link
{
	color: rgb(1, 104, 208);
	text-decoration: none;
}

a.light_blue_link:hover
{
	color: rgb(255, 115, 0);
}

a.red_link
{
	color: rgb(225,64,64);
	text-decoration: none;
}

a.red_link:hover
{
	color: rgb(255, 115, 0);
    text-decoration: none;
}

a.author_link
{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a.author_link:hover
{
	color: rgb(255, 115, 0);
}

a.black_link
{
   color: rgb(0, 0, 0);
   text-decoration: none;
}

a.black_link:hover
{
   color: rgb(0, 0, 0);
   text-decoration: underline;
}

p 
{ 
	margin-top: 0em;
	margin-bottom: 0em; 
}
